// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary    = #168dce
$secondary  = #326fbd
$tertiary   = #86a5ff
$quaternary = #08a4f9
$quinary    = #eaedf2

$white     = #f8f8f8
$neutral   = #E0E1E2
$positive  = #0b8c2a
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037


// $primary    = #627F95
// $secondary  = #406e75
// $tertiary   = #91A5B7
// $quaternary = #3c929f
// $quinary    = #E7F2EA
