.login_page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: $gray-800;
  background: linear-gradient(110deg,
    $gray-800 0%, $gray-800 18%, #2d71a8 20%, 
    $gray-800 20%, $gray-800 75%, #2d71a8 80%,
    $gray-800 80%, #2d71a8 100%
  );

  > h2 {
    position: relative;
    top: 20px;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 15px 30px 15px 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    font-weight: 900;
    color: #ffffff;
    background-color: #225e90;
    box-shadow: 0px 2px 10px $gray-800;

    > span {
      font-size: 0.6em;
      padding: 2px 6px;
      letter-spacing: 0;
      color: rgba(255,255,255,0.8);
      background-color: rgba(0,0,0,0.1);
    }
  }

  form {
    color: $gray-800;
    width: 360px;
    background-color: #f6f6f6;
    padding: 45px 15px 25px 15px;
    box-shadow: 5px 7px 0px rgba(0,0,0,0.2);
    border: 1px solid $gray-800;

    > h4 {
      letter-spacing: 1px;
      font-weight: 900;

      svg {
        color: #225e90;
      }
    }

    .form-control {
      border: 1px solid rgba(0,0,0,0.08);

      &:focus {
        border-color: rgba(0,0,0,0.2)
      }
    }

    > button {
      background-color: #225e90;
      border: 0;
      
      &:hover {
        background-color: $gray-800;
      }
    }
  }
}
