.post {
  > .post_header {
    div.tags {
      padding: 0;

      ul {
        display: inline-block;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-bottom: 10px;
          a {
            color: rgba(255,255,255,0.8);
            margin-left: 10px;
            border-radius: 0 14px 14px 0;
            padding: 6px 11px;
            padding-right: 20px;
            font-size: 0.9em;

            &:hover {
              background-color: rgba(0,0,0,0.5);
            }

            svg {
              font-size: 0.8em;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  > .post_info {
    padding: 20px;
    background-color: rgba(255,255,255,0.3);
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);

    strong {
      font-weight: 900;
    }
  }

  > .post_content {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 1px;

    > div > img {
      max-width: 100%;
    }
  }

  > .comments {
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    font-size: 0.9em;
    padding: 30px 20px;
    background-color: rgba(255,255,255,0.5);

    h4 {
      color: $gray-900;
    }

    .media {
      background-color: rgba(255,255,255,0.7);
      padding: 20px;

      h5 {
        color: $gray-700;

        small {
          font-size: 0.6em;
          color: #aaa;
          font-weight: 900;
          vertical-align: middle;
          letter-spacing: 0;
        }

        button {
          background-color: transparent;
          padding: 0;
          margin-top: -10px;
          font-size: 0.9em;
          color: #aaa;
          margin-right: -7px;
          border-width: 0;
          cursor: pointer;
        }
      }
    }
  }
}
